<div class="container">
  <!-- View showed when a Docente Control logs in. -->
  <h1>VISTA DOCENTE</h1>
  <h2><%= docente.nombre%> <%= docente.apellido%></h2>
  <!-- Shows all the Mallas that the Docente has, and allow him to create new logros for each subject -->
  <div class="Asignaturas">
      <h2>Asignaturas</h2>

      <% _.each(mallas, function (malla) { %>

        <h3>Materia: <%= malla.asignatura %></h3>

        <h3>Nivel:</h3>
        <ul class="nivel">
          <li><%= malla.nivel.nombre %></li>
        </ul>

        <h3>Cursos</h3>
        <ul class="cursos">
          <% for(var i=0; i<malla.cursos.length; i++) {%>
            <li><%= malla.cursos[i].num_curso %></li>
          <% } %>
        </ul>
        <!-- It is organized in quarters -->
        <table class="table table-condensed">
          <thead class="thead-inverse">
            <tr>
              <th>Primer Periodo</th>
              <th>Segundo Periodo</th>
              <th>Tercer Periodo</th>
              <th>Cuarto Periodo</th>
            </tr>
          </thead>
          <tbody>
              <!-- show all the Logros created and allow to create more -->
              <tr>

                  <td>
                    <% for(var i=0; i<malla.logros.length; i++) {%>
                      <ul>
                        <% if(malla.logros[i].periodo === "01"){  %>
                        <li><a href="#"><%= malla.logros[i].objetivo_general %></a><a href="#" class="btn btn-danger">X</a></li>
                        <% } %>
                      </ul>
                    <% } %>
                  </td>
                  <td>
                    <% for(var i=0; i<malla.logros.length; i++) {%>
                      <ul>
                        <% if(malla.logros[i].periodo === "02"){  %>
                          <li><a href="#"><%= malla.logros[i].objetivo_general %></a><a href="#" class="btn btn-danger">X</a></li>
                        <% } %>
                      </ul>
                    <% } %>
                  </td>
                  <td>
                    <% for(var i=0; i<malla.logros.length; i++) {%>
                      <ul>
                        <% if(malla.logros[i].periodo === "03"){  %>
                          <li><a href="#"><%= malla.logros[i].objetivo_general %></a><a href="#" class="btn btn-danger">X</a></li>
                        <% } %>
                      </ul>
                    <% } %>
                  </td>
                  <td>
                    <% for(var i=0; i<malla.logros.length; i++) {%>
                      <ul>
                        <% if(malla.logros[i].periodo === "04"){  %>
                          <li><a href="#"><%= malla.logros[i].objetivo_general %></a><a href="#" class="btn btn-danger">X</a></li>
                        <% } %>
                      </ul>
                    <% } %>
                  </td>
              </tr>

            <tr>
              <th><a href="/logro/new?id=<%= malla.id %>&periodo=01" class="btn btn-primary">+</a></th>
              <th><a href="/logro/new?id=<%= malla.id %>&periodo=02" class="btn btn-primary">+</a></th>
              <th><a href="/logro/new?id=<%= malla.id %>&periodo=03" class="btn btn-primary">+</a></th>
              <th><a href="/logro/new?id=<%= malla.id %>&periodo=04" class="btn btn-primary">+</a></th>
            </tr>
          </tbody>
        </table>



      <% }) %>
  </div>


</div>
