<div class="container" ng-app="AdministradorAPP" ng-controller="SesionCtrl">
  <h1>CREAR LOGRO</h1>

    <form class="curso-form" action="/createlogro" method="post">

      <h2>Materia: <%= malla.asignatura %></h2>
      <h3>nivel: <%= malla.nivel.nombre%></h3>
      <input type="text" name="mallaID" value="<%= malla.id%>" hidden>

      <div class="form-group">
        <label>Fecha Inicio:</label>
        <input type="date" name="fecha_inicio">
        <label>Fecha final:</label>
        <input type="date" name="fecha_final">
        <label>Periodo</label>
        <input type="text" name="periodo" value="<%= periodo %>">
        <label>Numero de Logro</label>
        <input type="number" name="num_logro">
      </div>



      <div class="form-group">
        <label for="comment">Objetivo general de aprendizaje:</label>
        <input type="text" class="form-control" name="objetivo_general">
      </div>

      <div class="form-group">
        <label for="referentes_teoricos">Referentes Teoricos:</label>
        <textarea class="form-control" rows="5" name="referentes_teoricos"></textarea>
      </div>

      <h4><label>Sesiones</label></h4>

        <div class="row">

          <div class="col-sm-8">
            <label>Descripcion</label>
            <input type="text" name="sesiondesc" ng-model="descripcion" class="form-control">
          </div>

          <div class="col-sm-3">
            <% for(var i=0; i<malla.cursos.length; i++) {%>
              <ul>
                <li><label>Curso: </label><input class="cursostext" type="text" name="cursosesion" value="<%= malla.cursos[i].num_curso %>" disabled></li>
                <div class="">
                  <label>Fecha: </label><input type="date" name="fechasesioncurso" class="fechascursos">
                </div>
              </ul>

            <% } %>
          </div>

          <button type="button" class="btn btn-default col-sm-1 btn-addses" ng-click="addSesion(descripcion)">
            Agregar
          </button>

      </div>


      <div class="row">
        <table class="col-md-12">
          <tr>
            <td>NumeroSesion</td>
            <td>Descripcion</td>
            <td>Cursos</td>
            <td>Fechas</td>

          </tr>

          <tr ng-repeat="s in sesiones">
           <td>
             <ul ng-repeat="n in s.num_sesion">
               <li><input type="text" name="num_sesion" value="{{n}}"></li>
             </ul>
           </td>
           <td>
             <ul ng-repeat="d in s.descripcion" >
               <li><input type="text" name="descripcion" value="{{d}}"></li>
             </ul>
           </td>
           <td>
             <ul ng-repeat="cs in s.cursosesion" >
               <li><input type="text" name="curso" value="{{cs}}"></li>
             </ul>
           </td>
           <td>
             <ul ng-repeat="fs in s.fechasesion track by $index" >
               <li><input type="text" name="fecha" value="{{fs}}"></li>
             </ul>
           </td>

          </tr>
        </table>
      </div>


      <div class="last-panel row">
        <label>Recursos</label>
        <input type="text" name="recursos" class="form-control">

        <label>Evaluacion para los estudiantes</label>
        <input type="text" name="evaluacion" class="form-control">

        <label>observacion_docente</label>
        <input type="text" name="observacion_docente" class="form-control">

      </div>

      <input type="submit" name="submitButton" value="Crear Logro" class="btn btn-primary col-sm-offset-5 col-sm-1">
    </form>

  </div>
