<div class="container" ng-app="AdministradorAPP">
  <h1>VISTA ADMINISTRADOR</h1>
  <h2>Formularios de creacion en la base de datos</h2>
  <ul>
    <li><a href="/newRol">Nuevo Rol</a></li>
    <li><a href="/newCurso">Nuevo CUrso</a></li>
    <li><a href="/newNivel">Nuevo Nivel</a></li>
    <li><a href="/newPermiso">Nuevo Permiso</a></li>
    <li><a href="/newUsuario">Nuevo Usuario</a></li>
  </ul>
  <h2>Docentes</h2>
  <div class="mostrar_docentes">
    <table class="table table-condensed">
      <thead class="thead-inverse">
        <tr>
          <th>id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Editar</th>
          <th>Eliminar</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(docentes, function (docente) { %>
        <tr>
            <td> <%= docente.id %> </td>
            <td> <%= docente.nombre %> </td>
            <td> <%= docente.apellido%> </td>
            <td>  <%= docente.correo%> </td>
            <td>
              <a href="/docente/edit/<%= docente.id %>" class="btn btn-primary">Editar</a>
            </td>
            <td>
              <a href="/usuario/destroy/<%= docente.id %>" class="btn btn-primary">Eliminar</a>
            </td>
            <td>
              <a href="/malla/new/<%= docente.id %>" class="btn btn-primary">Nueva Malla</a>
            </td>

        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <h2>Coordinadores</h2>
  <div class="mostrar_coordinadores">
    <table class="table table-condensed">
      <thead class="thead-inverse">
        <tr>
          <th>id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Editar</th>
          <th>Eliminar</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(coordinadores, function (coordinador) { %>
        <tr>
            <td> <%= coordinador.id %> </td>
            <td> <%= coordinador.nombre %> </td>
            <td> <%= coordinador.apellido%> </td>
            <td>  <%= coordinador.correo%> </td>
            <td>
              <a href="/coordinador/edit/<%= coordinador.id %>" class="btn btn-primary">Editar</a>
            </td>
            <td>
              <a href="/usuario/destroy/<%= coordinador.id %>" class="btn btn-primary">Eliminar</a>
            </td>
            <td>
              <a href="/administrador/vincular/<%= coordinador.id %>" class="btn btn-primary">Agregar Docente</a>
            </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
