<div class="container" ng-app="AdministradorAPP">

  <form class="" action="/usuario/update/<%=user.id%>" method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" value="<%=user.nombre%>">
    <label>Apellido</label>
    <input type="text" name="apellido" class="form-control" value="<%=user.apellido%>">
    <label>NIT</label>
    <input type="text" name="nit" class="form-control" value="<%=user.nit%>">
    <label>email</label>
    <input type="email" name="correo" class="form-control" value="<%=user.correo%>">
    <label>rol</label>
    <div class="roles" ng-controller="showRolesCtrl">
      <div ng-repeat="rol in roles">
        <label><input type="radio" name="rol" value="{{rol.id}}">{{rol.nombre}}</label>
      </div>
    </div>
    <div class="mallas">
      <label>mallas</label>
    </div>
    <input type="submit" name="submitButton" value="Update Usuario">
  </form>
</div>
